<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Newproductslider>
            <version>0.1.0</version>
        </Themevast_Newproductslider>
    </modules>
    <frontend>
        <routers>
            <newproductslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Newproductslider</module>
                    <frontName>newproductslider</frontName>
                </args>
            </newproductslider>
        </routers>
        <layout>
            <updates>
                <newproductslider>
                    <file>themevast/newproductslider.xml</file>
                </newproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproductslider>
				<use>admin</use>
				<args>
					<module>Themevast_Newproductslider</module>
					<frontName>newproductslider</frontName>
				</args>
			</newproductslider>
        </routers>
    </admin>
    <global>
        <models>
            <newproductslider>
                <class>Themevast_Newproductslider_Model</class>
                <resourceModel>newproductslider_mysql4</resourceModel>
            </newproductslider>
            <newproductslider_mysql4>
                <class>Themevast_Newproductslider_Model_Mysql4</class>
            </newproductslider_mysql4>
        </models>
        <resources>
            <newproductslider_setup>
                <setup>
                    <module>Themevast_Newproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproductslider_setup>
            <newproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproductslider_write>
            <newproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproductslider_read>
        </resources>
        <blocks>
            <newproductslider>
                <class>Themevast_Newproductslider_Block</class>
            </newproductslider>
        </blocks>
        <helpers>
            <newproductslider>
                <class>Themevast_Newproductslider_Helper</class>
            </newproductslider>
        </helpers>
    </global>
	<default>
		<newproductslider>
			<general>
				<enabled>1</enabled>
				<title>new products</title>
                <!-- <slide>0</slide> -->
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1800</speed>
                <pause>200</pause>
                <maxSlides>2</maxSlides>
                <rows>2</rows>
                <slideWidth>297</slideWidth>

 <!--                <playDelay>500</playDelay> -->
                <price>1</price>
                <cart>1</cart>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <review>1</review>
<!--                 <description>0</description>
                <maxlength></maxlength> -->
                <qty>15</qty>
                <widthImage>150</widthImage>
                <heightImage>150</heightImage>
			</general>
		</newproductslider>
	</default>
</config>

