<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Featuredproduct>
            <version>0.1.0</version>
        </Themevast_Featuredproduct>
    </modules>
    <frontend>
        <routers>
            <featuredproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Featuredproduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </featuredproduct>
        </routers>
        <layout>
            <updates>
                <featuredproduct>
                    <file>themevast/featuredproduct.xml</file>
                </featuredproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Featuredproduct</module>
					<frontName>featuredproduct</frontName>
				</args>
			</featuredproduct>
        </routers>
    </admin>
    <global>
        <models>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Model</class>
                <resourceModel>featuredproduct_mysql4</resourceModel>
            </featuredproduct>
            <featuredproduct_mysql4>
                <class>Themevast_Featuredproduct_Model_Mysql4</class>
            </featuredproduct_mysql4>
        </models>
        <resources>
            <featuredproduct_setup>
                <setup>
                    <module>Themevast_Featuredproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproduct_setup>
            <featuredproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproduct_write>
            <featuredproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproduct_read>
        </resources>
        <blocks>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
        <helpers>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Helper</class>
            </featuredproduct>
        </helpers>
    </global>
	<default>
		<featuredproduct>
			<general>
			    <enabled>1</enabled>
			    <title>Featured Products</title>
			    <slide>1</slide>
			    <vertical>0</vertical>
			    <auto>0</auto>
			    <controls>1</controls>
			    <pager>0</pager>
			    <speed>600</speed>
			    <pause>3000</pause>
			    <maxSlides>4</maxSlides>
			    <rows>2</rows>
			    <slideWidth>216</slideWidth>
			    <price>1</price>
			    <cart>1</cart>
			    <wishlist>1</wishlist>
			    <compare>1</compare>
			    <review>1</review>
			    <qty>20</qty>
			    <widthImage>300</widthImage>
			    <heightImage>300</heightImage>
			</general>
		</featuredproduct>
	</default>
</config>

