.menu-trigger {
    position: relative;
    display: block;
    text-align: right;
    margin-right: 20px;
}
.menu-trigger i {
    color: #000;
}
.mobile-nav-overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 998;
}
body.mobile-nav-shown .mobile-nav-overlay {
    opacity: 0.5;
    visibility: visible;
}
.mobile-nav.side-block {
    display: block !important;
    height: 100%;
    left: -250px;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 250px;
    z-index: 9999;
}
body.mobile-nav-shown .mobile-nav.side-block {
    left: 0;
}
.mobile-nav.side-block .sw-mobile-menu li > a {
    background-color: transparent;
    border: 0 none;
    color: #fff;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-nav.side-block .sw-mobile-menu > li:first-child > a {
    border: 0 none;
}
.mobile-nav.side-block .sw-mobile-menu > li > ul li {
    background-color: transparent;
}
.mobile-nav.side-block .sw-mobile-menu li .open-child {
    background-color: transparent;
    color: #fff;
}
.mobile-nav.side-block .sw-mobile-menu li:hover > .open-child {
    color: #fff;
}
.mobile-nav.side-block .sw-mobile-menu li > .open-child:hover {
    background-color: transparent;
}
.mobile-nav.side-block .sw-mobile-menu li .open-child::after {

    font-family: "porto";
    font-size: 19px;
    line-height: 19px;
    opacity: 1;
    text-align: center;
}

.mobile-nav .sw-mobile-menu > li > ul > li a {
    margin-left: 10px;
    white-space: nowrap;
}
.mobile-nav .sw-mobile-menu > li > ul > li li a {
    margin-left: 20px;
}
.mobile-nav .sw-mobile-menu > li > ul, .mobile-nav .sw-mobile-menu > li ul {
    width: 100%;
}
.home-side-menu {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 27px;
}
.home-side-menu h2.side-menu-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    color: #a39f9c;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 14px 15px;
}
.menu.side-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu.side-menu > li {
    position: relative;
    transition: all 0.2s ease 0s;
}
.menu.side-menu > li:hover {
    background-color: #08c;
}
.menu.side-menu > li > a {
    border-top: 1px solid #ddd;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px;
    padding: 13px 5px;
    position: relative;
}
.menu.side-menu > li:hover > a {
    border-color: transparent;
    color: #fff;
}
.menu.side-menu > li:first-child > a {
    border-top: 0 none;
}
.menu.side-menu > li > a:hover {
    text-decoration: none;
}
.menu.side-menu li.menu-item-has-children, .menu.side-menu li.menu-item-has-children > a {
    position: relative;
}
.menu.side-menu > li.menu-static-width > a::after, .menu.side-menu > li.menu-item-has-children > a::after, .menu.side-menu > li.menu-item-has-children li.menu-item-has-children > a::after, .menu.side-menu > li.menu-full-width > a::after {
    color: #08c;
    content: "";
    font-family: "porto";
    font-size: 13px;
    height: 10px;
    left: auto;
    margin-top: -7px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
}
.menu.side-menu > li.menu-static-width:hover > a::after, .menu.side-menu > li.menu-item-has-children:hover > a::after, .menu.side-menu > li.menu-item-has-children li.menu-item-has-children:hover > a::after, .menu.side-menu > li.menu-full-width:hover > a::after {
    color: #fff;
}
.menu.side-menu > li.menu-item-has-children li.menu-item-has-children > a::after {
    color: #fff;
}
.menu.side-menu > li .nav-sublist-dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #08c;
    border-image: none;
    border-radius: 0 5px 5px 7px;
    border-style: none none none solid;
    border-width: 0 0 0 5px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    display: none;
    left: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 10000;
}
.menu.side-menu > li.menu-full-width .nav-sublist-dropdown {
    padding: 15px 0 25px;
    width: 869px;
}
.menu.side-menu > li.menu-item-has-children .nav-sublist-dropdown {
    background-color: #08c;
    border: 0 none;
}
.menu.side-menu .container {
    max-width: 100%;
    padding: 0;
}
.menu.side-menu img {
    max-width: 100%;
}
.menu.side-menu a, .menu.side-menu a:hover {
    color: #777;
    line-height: 1;
}
.menu.side-menu > li.menu-item-has-children .nav-sublist-dropdown a {
    color: #fff;
}
.menu.side-menu > li .nav-sublist-dropdown ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu.side-menu > li.menu-static-width .nav-sublist-dropdown {
    padding: 10px 0 25px;
}
.menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container ul > li a {
    text-decoration: none;
}
.menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container > ul > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.2) -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    margin: 0 8px;
    padding: 13px 5px;
}
.menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container > ul > li:first-child > a {
    border: 0 none;
}
.menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container ul > li:hover > a {
    background-color: #0099e6;
}
.menu.side-menu > li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist {
    background-color: #08c;
    border-radius: 5px;
    display: none;
    left: 199px;
    padding: 10px 0;
    position: absolute;
    top: -10px;
}
.menu.side-menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children:hover > .nav-sublist {
    display: block;
}
.menu.side-menu > li .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist li {
    background-color: transparent;
    width: 200px;
}
.menu.side-menu li.menu-item-has-children .nav-sublist li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin: 0 8px;
    padding: 13px 5px;
}
.menu.side-menu li.menu-item-has-children .nav-sublist li:first-child > a {
    border: 0 none;
}
.menu.side-menu > li .nav-sublist-dropdown .container ul > li a {
    display: block;
    margin: 0 8px;
    padding: 13px 5px;
}
.menu.side-menu > li.menu-static-width .nav-sublist-dropdown .container ul > li a, .menu.side-menu > li.menu-full-width .nav-sublist-dropdown .container ul > li a {
    padding: 5px;
}
.menu.side-menu > li.menu-static-width .nav-sublist-dropdown .container ul > li a.menu_thumb_link, .menu.side-menu > li.menu-full-width .nav-sublist-dropdown .container ul > li a.menu_thumb_link {
    padding: 0 5px 10px;
}
.menu.side-menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1, .menu.side-menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a.level1 {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0 5px;
    text-transform: uppercase;
}
.menu.side-menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul, .menu.side-menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul {
    margin-left: 10px;
}
.mobile-nav {
    background-color: #151515;
    display: none;
    height: 0;
    position: static;
    transition: all 0.5s ease 0s;
}
.mobile-nav-shown .mobile-nav {
    box-shadow: 0 10px 10px #111111;
    display: block;
    height: 100%;
}
.mobile-nav .sw-mobile-menu {
    margin-bottom: 0;
    padding-left: 0;
    text-align: left;
}
.mobile-nav .sw-mobile-menu li {
    clear: both;
    display: block;
    position: relative;
}
.mobile-nav .sw-mobile-menu li.over > a {
    color: #fff;
}
.mobile-nav .sw-mobile-menu li.over > .open-child::after {
    background: url("../images/small-plus.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.mobile-nav .sw-mobile-menu li .container {
    padding: 0;
    width: 100%;
}
.mobile-nav .sw-mobile-menu li .open-child {
    background-color: #151515;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 0;
    height: 40px;
    margin-top: 1px;
    position: relative;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.mobile-nav .sw-mobile-menu li .open-child:hover {
    background-color: #0e0e0e;
}
.mobile-nav .sw-mobile-menu li .open-child::after {
    background: url("../images/small-plus.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    content: "";
    cursor: pointer;
    display: block;
    height: 19px;
    left: 10px;
    opacity: 0.5;
    position: absolute;
    top: 10px;
    width: 19px;
}
.mobile-nav .sw-mobile-menu li > a {
    background: #151515 none repeat scroll 0 0;
    border-top: 1px solid #222222;
    color: #c7c7c7;
    display: block;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    text-transform: uppercase;
}
.mobile-nav .sw-mobile-menu li > a:hover {
    background-color: #989898;
    color: #222;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.mobile-nav .sw-mobile-menu li > a span.cat-label {
    display: inline-block;
    font: 10px/1.2 arial;
    margin-bottom: 3px;
    margin-left: 1px;
    padding: 0 2px;
    text-transform: uppercase;
    vertical-align: middle;
}
.mobile-nav .sw-mobile-menu li > a span.cat-label.cat-label-label1 {
    background: #f00 none repeat scroll 0 0;
    color: #fff;
}
.mobile-nav .sw-mobile-menu li > a span.cat-label.cat-label-label2 {
    background: #00f none repeat scroll 0 0;
    color: #fff;
}
.mobile-nav .sw-mobile-menu > li > ul {
    border-top: 0 none;
    margin-bottom: 0;
    padding-left: 0;
}
.mobile-nav .sw-mobile-menu > li > ul li {
    background-color: #151515;
    display: block;
    position: relative;
}
.mobile-nav .sw-mobile-menu > li > ul > li a {
    display: block;
    font: 12px/40px "Open Sans",Arial;
    margin-left: 15px;
    padding-left: 20px;
    text-transform: none;
}
.mobile-nav .sw-mobile-menu > li > ul > li a span.cat-label {
    margin-bottom: 0;
}
.mobile-nav .sw-mobile-menu > li > ul > li a::before {
    content: "";
    float: left;
    font: 16px/40px "FontAwesome";
    margin-right: 10px;
    text-decoration: inherit;
    transition: all 0.2s ease-in-out 0s;
}
.mobile-nav .sw-mobile-menu > li > ul > li li a {
    margin-left: 30px;
    padding-left: 15px;
}
.mobile-nav .sw-mobile-menu > li > ul > li li li a {
    margin-left: 40px;
    padding-left: 15px;
}
.mobile-nav .sw-mobile-menu > li > ul > li li li li a {
    margin-left: 45px;
    padding-left: 20px;
}
.mobile-nav .sw-mobile-menu > li ul {
    display: none;
    margin: 0;
    padding: 0;
}