<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Sms>
            <version>0.0.1</version>
        </Dever_Sms>
    </modules>
    <global>
        <blocks>
            <dever_sms>
                <class>Dever_Sms_Block</class>
            </dever_sms>
        </blocks>
        <helpers>
            <dever_sms>
                <class>Dever_Sms_Helper</class>
            </dever_sms>
        </helpers>
    </global>
</config>