<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Brandlogo>
            <version>0.1.0</version>
        </Themevast_Brandlogo>
    </modules>
    <frontend>
        <routers>
            <brandlogo>
                <use>standard</use>
                <args>
                    <module>Themevast_Brandlogo</module>
                    <frontName>brandlogo</frontName>
                </args>
            </brandlogo>
        </routers>
        <layout>
            <updates>
                <brandlogo>
                    <file>themevast/brandlogo.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<brandlogo>
				<use>admin</use>
				<args>
					<module>Themevast_Brandlogo</module>
					<frontName>brandlogo</frontName>
				</args>
			</brandlogo>
        </routers>
    </admin>   
    <global>
        <models>
            <brandlogo>
                <class>Themevast_Brandlogo_Model</class>
                <resourceModel>brandlogo_mysql4</resourceModel>
            </brandlogo>
            <brandlogo_mysql4>
                <class>Themevast_Brandlogo_Model_Mysql4</class>
                <entities>
                    <brandlogo>
                        <table>brandlogo</table>
                    </brandlogo>
                </entities>
            </brandlogo_mysql4>
        </models>
        <resources>
            <brandlogo_setup>
                <setup>
                    <module>Themevast_Brandlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandlogo_setup>
            <brandlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandlogo_write>
            <brandlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandlogo_read>
        </resources>
        <blocks>
            <brandlogo>
                <class>Themevast_Brandlogo_Block</class>
            </brandlogo>
        </blocks>
        <helpers>
            <brandlogo>
                <class>Themevast_Brandlogo_Helper</class>
            </brandlogo>
        </helpers>
    </global>
	<default>
		<brandlogo>
			<brandlogo>
				<enabled>1</enabled>
				<auto>0</auto>
				<speed>600</speed>
				<interval>3000</interval>
				<description>0</description>
				<qty>15</qty>
				<items_show>7</items_show>
				<item_width>162</item_width>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</brandlogo>
		</brandlogo>
	</default>
</config>

