<?xml version="1.0" encoding="utf-8"?>

<config>
    <modules>
        <TM_AjaxLayeredNavigation>
            <version>2.6.0</version>
        </TM_AjaxLayeredNavigation>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>TM_AjaxLayeredNavigation_Model_Layer</layer>
                </rewrite>
            </catalog>
            <ajaxlayerednavigation>
                <class>TM_AjaxLayeredNavigation_Model</class>
                <resourceModel>ajaxlayerednavigation_mysql4</resourceModel>
            </ajaxlayerednavigation>
            <ajaxlayerednavigation_mysql4>
                <class>TM_AjaxLayeredNavigation_Model_Mysql4</class>
                <entities>
                    <filters>
                        <table>tm_ajaxlayerednavigation_filters</table>
                    </filters>
                    <options>
                        <table>tm_ajaxlayerednavigation_options</table>
                    </options>
                    <range>
                        <table>tm_ajaxlayerednavigation_range</table>
                    </range>
                </entities>
            </ajaxlayerednavigation_mysql4>
        </models>
        <blocks>
            <ajaxlayerednavigation>
                <class>TM_AjaxLayeredNavigation_Block</class>
            </ajaxlayerednavigation>
            <catalog>
                <rewrite>
                    <layer_view>TM_AjaxLayeredNavigation_Block_Layer_View</layer_view>
                    <product_list_toolbar>TM_AjaxLayeredNavigation_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <ajaxlayerednavigation>
                <class>TM_AjaxLayeredNavigation_Helper</class>
            </ajaxlayerednavigation>
        </helpers>
        <resources>
            <tm_ajaxlayerednavigation_setup>
                <setup>
                    <module>TM_AjaxLayeredNavigation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tm_ajaxlayerednavigation_setup>
            <ajaxlayerednavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxlayerednavigation_write>
            <ajaxlayerednavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxlayerednavigation_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ajaxlayerednavigation>
                        <type>singleton</type>
                        <class>TM_AjaxLayeredNavigation_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </ajaxlayerednavigation>
                </observers>
            </controller_front_init_routers>
            <controller_action_postdispatch_attributepages_page_view>
                <observers>
                    <ajaxlayerednavigation_attributepages_request>
                        <class>ajaxlayerednavigation/observer</class>
                        <method>processAttributepageRequest</method>
                    </ajaxlayerednavigation_attributepages_request>
                </observers>
            </controller_action_postdispatch_attributepages_page_view>
            <controller_action_postdispatch_tmdailydeals>
                <observers>
                    <ajaxlayerednavigation_dealspage_request>
                        <class>ajaxlayerednavigation/observer</class>
                        <method>processDealspageRequest</method>
                    </ajaxlayerednavigation_dealspage_request>
                </observers>
            </controller_action_postdispatch_tmdailydeals>
            <tm_cache_prepare_cache_key>
                <observers>
                    <ajaxlayerednavigation_tmcache_key>
                        <class>ajaxlayerednavigation/observer</class>
                        <method>tmcachePrepareCacheKey</method>
                    </ajaxlayerednavigation_tmcache_key>
                </observers>
            </tm_cache_prepare_cache_key>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <ajaxlayerednavigation>
                    <file>ajaxlayerednavigation.xml</file>
                </ajaxlayerednavigation>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ajaxlayerednavigation_observer>
                        <class>ajaxlayerednavigation/observer</class>
                        <method>addToRegisterRootQuery</method>
                    </ajaxlayerednavigation_observer>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <ajaxlayerednavigation>
                    <file>tm/ajaxlayerednavigation.xml</file>
                </ajaxlayerednavigation>
            </updates>
        </layout>
        <routers>
            <ajaxlayerednavigation>
                <use>standard</use>
                <args>
                    <module>TM_AjaxLayeredNavigation</module>
                    <frontName>ajaxlayerednavigation</frontName>
                </args>
            </ajaxlayerednavigation>
            <catalog>
                <args>
                    <modules>
                        <TM_AjaxLayeredNavigation before="Mage_Catalog">TM_AjaxLayeredNavigation</TM_AjaxLayeredNavigation>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <TM_AjaxLayeredNavigation before="Mage_CatalogSearch">TM_AjaxLayeredNavigation</TM_AjaxLayeredNavigation>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <translate>
            <modules>
                <TM_AjaxLayeredNavigation>
                    <files>
                        <default>TM_AjaxLayeredNavigation.csv</default>
                    </files>
                </TM_AjaxLayeredNavigation>
            </modules>
        </translate>
    </frontend>

    <admin>
        <!--<routers>
            <ajaxlayerednavigation>
                <use>admin</use>
                <args>
                    <module>TM_AjaxLayeredNavigation</module>
                    <frontName>ajaxlayerednavigation_admin</frontName>
                </args>
            </ajaxlayerednavigation>
        </routers> -->
		<routers>
             <adminhtml>
                 <args>
                     <modules>
                         <ajaxlayerednavigation before="Mage_Adminhtml">TM_AjaxLayeredNavigation_Adminhtml</ajaxlayerednavigation>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>

    <default>
        <ajaxlayerednavigation>
            <general>
                <style>1</style>
                <use_ajax>1</use_ajax>
                <show_quantity>1</show_quantity>
                <display_count>0</display_count>
                <search_count>0</search_count>
                <layered_loader>ajax-loader-layer.GIF</layered_loader>
                <list_loader>ajax-loader-list.GIF</list_loader>
            </general>
            <left>
                <height>150</height>
            </left>
            <seo>
                <suffix>shopby</suffix>
            </seo>
            <home_cat>
                <enabled>0</enabled>
            </home_cat>
            <range>
                <slider>1</slider>
                <jquery>1</jquery>
            </range>
            <category_sort>
                <sort_order>0</sort_order>
            </category_sort>
        </ajaxlayerednavigation>
    </default>

</config>
