<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Imageslider>
            <version>0.1.0</version>
        </Themevast_Imageslider>
    </modules>
    <frontend>
        <routers>
            <imageslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Imageslider</module>
                    <frontName>imageslider</frontName>
                </args>
            </imageslider>
        </routers>
        <layout>
            <updates>
                <imageslider>
                    <file>themevast/imageslider.xml</file>
                </imageslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<imageslider>
				<use>admin</use>
				<args>
					<module>Themevast_Imageslider</module>
					<frontName>imageslider</frontName>
				</args>
			</imageslider>
        </routers>
    </admin>  
    <global>
        <models>
            <imageslider>
                <class>Themevast_Imageslider_Model</class>
                <resourceModel>imageslider_mysql4</resourceModel>
            </imageslider>
            <imageslider_mysql4>
                <class>Themevast_Imageslider_Model_Mysql4</class>
                <entities>
                    <imageslider>
                        <table>imageslider</table>
                    </imageslider>
                </entities>
            </imageslider_mysql4>
        </models>
        <resources>
            <imageslider_setup>
                <setup>
                    <module>Themevast_Imageslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageslider_setup>
            <imageslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageslider_write>
            <imageslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageslider_read>
        </resources>
        <blocks>
            <imageslider>
                <class>Themevast_Imageslider_Block</class>
            </imageslider>
        </blocks>
        <helpers>
            <imageslider>
                <class>Themevast_Imageslider_Helper</class>
            </imageslider>
        </helpers>
    </global>
	<default>
		<imageslider>
			<general>
				<enabled>1</enabled>
				<effect>random</effect>
				<pauseTime>5000</pauseTime>
				<animSpeed>600</animSpeed>
				<caption>1</caption>
				<directionNav>1</directionNav>
				<controlNav>0</controlNav>
			</general>
		</imageslider>
	</default>
</config>

