<?xml version="1.0"?>
<config>
    <modules>
        <Thzz_Campaign>
            <version>0.0.1</version>
        </Thzz_Campaign>
    </modules>
    <frontend>
        <routers>
            <thzz_campaign>
                <use>standard</use>
                <args>
                    <module>Thzz_Campaign</module>
                    <frontName>emailerCampaign</frontName>
                </args>
            </thzz_campaign>
        </routers>
        <layout>
            <updates>
                <thzz_campaign>
                    <file>thzz/campaign.xml</file>
                </thzz_campaign>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <thzz_campaign>
                <class>Thzz_Campaign_Model</class>
                <resourceModel>thzz_campaign_resource</resourceModel>
            </thzz_campaign>
            <thzz_campaign_resource>
                <class>Thzz_Campaign_Model_Resource</class>
                <entities>
                    <campaign>
                        <table>campaign</table>
                    </campaign>
                </entities>
            </thzz_campaign_resource>
        </models>
        <resources>
            <thzz_campaign_setup>
                <setup>
                    <module>Thzz_Campaign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thzz_campaign_setup>
            <thzz_campaign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thzz_campaign_write>
            <thzz_campaign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thzz_campaign_read>
        </resources>
        <blocks>
            <thzz_campaign>
                <class>Thzz_Campaign_Block</class>
            </thzz_campaign>
        </blocks>
        <helpers>
            <thzz_campaign>
                <class>Thzz_Campaign_Helper</class>
            </thzz_campaign>
        </helpers>
        <template>
            <email>
                <campaign_success_template translate="label" module="thzz_campaign">
                    <label>Campaign Success</label>
                    <file>campaign_success.html</file>
                    <type>html</type>
                </campaign_success_template>
                <new_campaign_register_template translate="label" module="thzz_campaign">
                    <label>New Campaign User Register</label>
                    <file>new_campaign_register.html</file>
                    <type>html</type>
                </new_campaign_register_template>
            </email>
        </template>
    </global>
</config>