<?xml version="1.0"?>
<config>
    <modules>
        <Thzz_Cms>
            <version>0.0.1</version>
        </Thzz_Cms>
    </modules>
    <global>
        <page>
            <layouts>
                <not_so_local>
                    <label>Not so Local Page</label>
                    <template>page/not-so-local.phtml</template>
                </not_so_local>
                <goodhope_custom_homepage>
                    <label>Goodhope Homepage</label>
                    <template>page/homepage.phtml</template>
                </goodhope_custom_homepage>
            </layouts>
        </page>
    </global>
</config>