<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Bestsellerslider>
            <version>0.1.0</version>
        </Themevast_Bestsellerslider>
    </modules>
    <frontend>
        <routers>
            <bestsellerslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Bestsellerslider</module>
                    <frontName>bestsellerslider</frontName>
                </args>
            </bestsellerslider>
        </routers>
        <layout>
            <updates>
                <bestsellerslider>
                    <file>themevast/bestsellerslider.xml</file>
                </bestsellerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerslider>
				<use>admin</use>
				<args>
					<module>Themevast_Bestsellerslider</module>
					<frontName>bestsellerslider</frontName>
				</args>
			</bestsellerslider>
        </routers>
    </admin>
    <global>
        <models>
            <bestsellerslider>
                <class>Themevast_Bestsellerslider_Model</class>
                <resourceModel>bestsellerslider_mysql4</resourceModel>
            </bestsellerslider>
            <bestsellerslider_mysql4>
                <class>Themevast_Bestsellerslider_Model_Mysql4</class>
            </bestsellerslider_mysql4>
        </models>
        <resources>
            <bestsellerslider_setup>
                <setup>
                    <module>Themevast_Bestsellerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerslider_setup>
            <bestsellerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerslider_write>
            <bestsellerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerslider_read>
        </resources>
        <blocks>
            <bestsellerslider>
                <class>Themevast_Bestsellerslider_Block</class>
            </bestsellerslider>
        </blocks>
        <helpers>
            <bestsellerslider>
                <class>Themevast_Bestsellerslider_Helper</class>
            </bestsellerslider>
        </helpers>
    </global>
	<default>
		<bestsellerslider>
			<general>
			    <enabled>1</enabled>
			    <title>best seller</title>
			    <vertical>0</vertical>
			    <auto>0</auto>
			    <controls>1</controls>
			    <pager>0</pager>
			    <speed>600</speed>
			    <pause>3000</pause>
			    <maxSlides>5</maxSlides>
			    <rows>1</rows>
			    <slideWidth>233</slideWidth>
			    <price>1</price>
			    <cart>1</cart>
			    <wishlist>1</wishlist>
			    <compare>1</compare>
			    <review>1</review>
			    <qty>15</qty>
			    <widthImage>270</widthImage>
			    <heightImage>270</heightImage>
			</general>
		</bestsellerslider>
	</default>
</config>

