<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Offers>
            <version>0.0.1</version>
        </Dever_Offers>
    </modules>
    <frontend>
        <routers>
            <dever_offers>
                <use>standard</use>
                <args>
                    <module>Dever_Offers</module>
                    <frontName>deals</frontName>
                </args>
            </dever_offers>
        </routers>
        <layout>
            <updates>
                <dever_offers>
                    <file>dever/offers.xml</file>
                </dever_offers>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <dever_offers>
                <class>Dever_Offers_Model</class>
                <resourceModel>dever_offers_resource</resourceModel>
            </dever_offers>
            <dever_offers_resource>
                <class>Dever_Offers_Model_Resource</class>
                <entities>
                    <offers>
                        <table>dever_offers</table>
                    </offers>
                </entities>
            </dever_offers_resource>
        </models>
        <resources>
            <dever_offers_setup>
                <setup>
                    <module>Dever_Offers</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dever_offers_setup>
        </resources>
        <blocks>
            <dever_offers>
                <class>Dever_Offers_Block</class>
            </dever_offers>
        </blocks>
        <helpers>
            <dever_offers>
                <class>Dever_Offers_Helper</class>
            </dever_offers>
        </helpers>
        <template>
            <email>
                <offers_template translate="label" module="dever_offers">
                    <label>Deal Registration</label>
                    <file>offers.html</file>
                    <type>html</type>
                </offers_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <menu>
            <offers module="dever_offers">
                <title>Offers</title>
                <sort_order>100</sort_order>
                <children>
                    <manage_bookings module="dever_offers">
                        <title>Manage Bookings</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/offers/</action>
                    </manage_bookings>
                </children>
            </offers>
        </menu>
        <layout>
            <updates>
                <dever_offers>
                    <file>dever/offers.xml</file>
                </dever_offers>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dever_offers before="Mage_Adminhtml">Dever_Offers_Adminhtml</dever_offers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>