<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Themevast>
            <version>1.0.0</version>
        </Themevast_Themevast>
    </modules>
    <frontend>
        <routers>
            <themevast>
                <use>standard</use>
                <args>
                    <module>Themevast_Themevast</module>
                    <frontName>themevast</frontName>
                </args>
            </themevast>
        </routers>
        <layout>
            <updates>
                <themevast>
                    <file>themevast/themevast.xml</file>
                </themevast>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <themevast>
                <use>admin</use>
                <args>
                    <module>Themevast_Themevast</module>
                    <frontName>themevast</frontName>
                </args>
            </themevast>
        </routers>
    </admin>
<!--     <adminhtml>
        <layout>
            <updates>
                <themevast>
                    <file>themevast/themevast.xml</file>
                </themevast>
            </updates>
        </layout>
    </adminhtml>   --> 
    <global>
        <models>
            <themevast>
                <class>Themevast_Themevast_Model</class>
                <resourceModel>themevast_mysql4</resourceModel>
            </themevast>
        </models>
        <blocks>
            <themevast>
                <class>Themevast_Themevast_Block</class>
            </themevast>
        </blocks>
        <helpers>
            <themevast>
                <class>Themevast_Themevast_Helper</class>
            </themevast>
        </helpers>
    </global>
    <default>
        <themevast>
            <general>
                <package>tv_arion_package</package>
                <theme>tv_arion</theme>
                <cms_home_page>arion_home</cms_home_page>
                <themecolor>gray.css</themecolor>
                <new_label>1</new_label>
                <sale_label>1</sale_label>
                <sale_percent>0</sale_percent>
            </general>
        </themevast>
    </default>
</config>

