<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Onsaleslider>
            <version>0.1.0</version>
        </Themevast_Onsaleslider>
    </modules>
    <frontend>
        <routers>
            <onsaleslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Onsaleslider</module>
                    <frontName>onsaleslider</frontName>
                </args>
            </onsaleslider>
        </routers>
        <layout>
            <updates>
                <onsaleslider>
                    <file>themevast/onsaleslider.xml</file>
                </onsaleslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onsaleslider>
				<use>admin</use>
				<args>
					<module>Themevast_Onsaleslider</module>
					<frontName>onsaleslider</frontName>
				</args>
			</onsaleslider>
        </routers>
    </admin>
    <global>
        <models>
            <onsaleslider>
                <class>Themevast_Onsaleslider_Model</class>
                <resourceModel>onsaleslider_mysql4</resourceModel>
            </onsaleslider>
            <onsaleslider_mysql4>
                <class>Themevast_Onsaleslider_Model_Mysql4</class>
            </onsaleslider_mysql4>
        </models>
        <resources>
            <onsaleslider_setup>
                <setup>
                    <module>Themevast_Onsaleslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onsaleslider_setup>
            <onsaleslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsaleslider_write>
            <onsaleslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsaleslider_read>
        </resources>
        <blocks>
            <onsaleslider>
                <class>Themevast_Onsaleslider_Block</class>
            </onsaleslider>
        </blocks>
        <helpers>
            <onsaleslider>
                <class>Themevast_Onsaleslider_Helper</class>
            </onsaleslider>
        </helpers>
    </global>
	<default>
		<onsaleslider>
			<general>
				<enabled>1</enabled>
				<title>latest deals</title>
                <!-- <slide>0</slide> -->
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1800</speed>
                <pause>200</pause>
                <maxSlides>3</maxSlides>
                <rows>1</rows>
                <slideWidth>270</slideWidth>

 <!--                <playDelay>500</playDelay> -->
                <price>1</price>
                <cart>1</cart>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <review>1</review>
<!--                 <description>0</description>
                <maxlength></maxlength> -->
                <qty>15</qty>
                <widthImage>270</widthImage>
                <heightImage>270</heightImage>
			</general>
		</onsaleslider>
	</default>
</config>

