.cms-index-index .nav-vcontainer {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
top: -47px;
  left: 0;
  z-index: 999;
}
.vmagamenu-home {
  position: relative;
  display: block;
  width: 100%;
}
.vmagamenu-home #nav_vmegamenu{

}
.vmagamenu-home:hover #nav_vmegamenu {
    opacity: 1;
    z-index:999;
    display: block;
}
.nav-vcontainer {
    margin-bottom: 38px;
}
.nav_vmegamenu {
    position:relative;
    font-size: 13px;
    margin: 0 auto;
    padding: 0 ;
    display: inline-block;
    width: 100%;
    border-top: 0;
    background: #fff;
    font-weight: 400;
    color: #454545;
}
.vmegamenu-title { }
.vmegamenu-title h2 { color: #fff; font-size: 14px; text-transform: uppercase;  padding:0; font-weight: 400; margin: 0; }
.vmegamenu-title h2 i {
      margin-right: 5px;
    font-size: 16px;
    line-height: 48px;
    padding: 0 17px;
    }

.nav_vmegamenu div.megamenu .level-top { position: relative;}


.nav_vmegamenu div.megamenu .hot {
  position: absolute;
  top: -15px;
  right: 10px;
  background: #7DD25B;
  padding: 0 6px;
  height: 20px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
}
.nav_vmegamenu div.megamenu .new {
  position: absolute;
  top: -15px;
  right: 10px;
  background: #ED5959;
  padding: 0 6px;
  height: 20px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
-webkit-transform: translateZ(0);
transform: translateZ(0);
display: none;
}
.nav_vmegamenu div.megamenu:hover .level-top .new,
.nav_vmegamenu div.megamenu:hover .level-top .hot,
.nav_vmegamenu div.megamenu.active .level-top .new,
.nav_vmegamenu div.megamenu.active .level-top .hot {
  top: -10px;
}
.nav_vmegamenu div.megamenu .new:before,
.nav_vmegamenu div.megamenu .hot:before{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  left: calc(50% - 10px);
  bottom: -5px;
  border-width: 5px 5px 0 5px;
  border-color: #ED5959 transparent transparent transparent;
}
.nav_vmegamenu div.megamenu .hot:before {
  border-color: #7DD25B transparent transparent transparent;
}
.nav_vmegamenu div.megamenu .level-top a,
.nav_vmegamenu div.megamenu .level-top span.block-title{
    padding: 0px 10px 0px 20px;
    text-decoration: none;
    display: block;
    line-height: 44px;
    color: #666;
    border: none;
    text-transform: capitalize;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 15px;
}
.nav_vmegamenu div.megamenu .level-top a {
    border-top: 1px solid #eee;
    color: #666;
}
#megamenu_catid_3 .level-top > a {
    border: 0;
}
.nav_vmegamenu div.megamenu .level-top a:before { color: #ccc;}



.nav_vmegamenu div.megamenu .level-top a > .fa,
.nav_vmegamenu div.megamenu .level-top span.block-title > .fa {
    position: absolute; right: 25px; top: 15px;
    
}
.nav_vmegamenu div.megamenu .level-top a > .fa:before {
    content: "\f105" !important;
}
.nav_vmegamenu div.megamenu .level-top a > .fa,
.nav_vmegamenu div.megamenu .level-top span.block-title > .fa{ right: 18px;  }
.nav_vmegamenu div.megamenu { position:relative;}
.nav_vmegamenu div.megamenu .nav-1 { border: 0;}
.nav_vmegamenu div.megamenu.active .level-top a,
.nav_vmegamenu div.megamenu.active .level-top span.block-title {}
.nav_vmegamenu div.megamenu.megamenu_no_child .level-top a >.fa { display: none;}
.nav_vmegamenu div.megamenu div.dropdown {
    position: absolute;
    background-color:#fff;
    text-align:left;
    margin: 0 0 0 25px;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 100% !important;
    border: 1px solid #f2f2f2;
    border-top: 0;
    transition: 0.5s;
    display: none;
    width: 700px !important;
}

.nav_vmegamenu div.megamenu .level-top a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 13px;
    margin-right: 10px;
    content: "\f18e";
}
.nav_vmegamenu div.megamenu.active .level-top a:before,
.nav_vmegamenu div.megamenu .level-top a:hover:before{ margin-left: 15px; }



.nav_vmegamenu .block1 {
   padding: 25px;
}
.nav_vmegamenu .block2 {
  
}

.nav_vmegamenu div.megamenu:hover div.dropdown {
    opacity: 1;
    margin: 0;
    z-index: 1000;
    display: block;
}

.nav_vmegamenu div.megamenu .level-top a:hover,
.nav_vmegamenu div.megamenu .level-top span.block-title:hover,
.nav_vmegamenu #pt_menu_link ul li a.act,
.nav_vmegamenu #pt_menu_link ul li a:hover,
.nav_vmegamenu div.megamenu.act {
    color: #ff0000;
}
.nav_vmegamenu div.dropdown a {
    text-decoration: none;
    display:block;
    line-height: 30px;
}


.nav_vmegamenu .itemMenu h4.level1,
.nav_vmegamenu .itemMenu a.level1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #666;
    border-bottom: 1px solid #E0E0E0;
}
.nav_vmegamenu .itemMenu h4.level1:hover,
.nav_vmegamenu .itemMenu a.level1:hover {
}
.nav_vmegamenu .itemMenu h4.level1 > span,
.nav_vmegamenu .itemMenu a.level1 > span {
  padding: 0 30px 5px 0;
  
}
.nav_vmegamenu .itemMenu a{
  
}

.nav_vmegamenu .itemMenu a.level2:before,
.nav_vmegamenu .itemMenu a.level3:before,
.nav_vmegamenu .itemMenu a.level4:before{
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #aaa;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
}
.nav_vmegamenu .itemMenu a.level2:before,
.nav_vmegamenu .itemMenu a.level3:before,
.nav_vmegamenu .itemMenu a.level4:before {
   
}


.nav_vmegamenu .itemMenu a.level2:hover,
.nav_vmegamenu .itemMenu a.level3:hover,
.nav_vmegamenu .itemMenu a.level4:hover {
  padding-left: 10px;
}

.nav_vmegamenu .itemMenu h4.level1,
.nav_vmegamenu .itemSubMenu h4.level2 span{
    color: #ff8105;
}
.nav_vmegamenu .itemSubMenu h4.level2,
.nav_vmegamenu .itemSubMenu a.level2,
.nav_vmegamenu .itemSubMenu h4.level3,
.nav_vmegamenu .itemSubMenu a.level3,
.nav_vmegamenu .itemMenu a.level1.nochild{
    color: #898989;
    text-transform: none;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
}

.nav_vmegamenu div.dropdown a.actParent {
    color: #ff8105;
}
.nav_vmegamenu div.dropdown a.act {
    
}
.nav_vmegamenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 5px;
    padding-right: 5px;
}

.nav_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.nav_vmegamenu div.itemSubMenu {
  padding-top: 5px;
  margin-bottom: 15px;
}

.nav_vmegamenu .block2{
    float: left;
}
.nav_vmegamenu div.dropdown .block1{
    overflow: hidden;
    float: left;
}
.nav_vmegamenu div.dropdown .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.nav_vmegamenu div.dropdown .blockright img{
    max-width: 100%;
    margin-top: 30px;
} 

.nav_vmegamenu div.megamenu .level-top p{
    margin: 0;
    padding: 0;
}
.nav_vmegamenu #pt_menu_link{
    padding: 0;
}
.nav_vmegamenu #pt_menu_link .level-top ul li{
    float: left;
    list-style: none;
}
.nav_vmegamenu #pt_menu_link .level-top ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.nav_vmegamenu .clearBoth {
    clear:both;
}

.nav_vmegamenu div#megamenu_extra div.dropdown {
  width: 100% !important;
  padding: 25px;
  clear: both;
  right: 0;
}


.nav-1 .dropdown{   background: url(../images/vm4.jpg) no-repeat 100% center; }
.nav-2 .dropdown{ background: url(../images/vm3.jpg) no-repeat 100% center; }
.nav-3 .dropdown{   background: url(../images/vm2.jpg) no-repeat 100% center; }












