<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Cloudzoom>
            <version>0.1.0</version>
        </Themevast_Cloudzoom>
    </modules>
    <frontend>
        <routers>
            <cloudzoom>
                <use>standard</use>
                <args>
                    <module>Themevast_Cloudzoom</module>
                    <frontName>cloudzoom</frontName>
                </args>
            </cloudzoom>
        </routers>
        <layout>
            <updates>
                <cloudzoom>
                    <file>themevast/cloudzoom.xml</file>
                </cloudzoom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cloudzoom>
				<use>admin</use>
				<args>
					<module>Themevast_Cloudzoom</module>
					<frontName>cloudzoom</frontName>
				</args>
			</cloudzoom>
        </routers>
    </admin>  
    <global>
        <models>
            <cloudzoom>
                <class>Themevast_Cloudzoom_Model</class>
                <resourceModel>cloudzoom_mysql4</resourceModel>
            </cloudzoom>
            <cloudzoom_mysql4>
                <class>Themevast_Cloudzoom_Model_Mysql4</class>
                <entities>
                    <cloudzoom>
                        <table>cloudzoom</table>
                    </cloudzoom>
                </entities>
            </cloudzoom_mysql4>
        </models>
        <resources>
            <cloudzoom_setup>
                <setup>
                    <module>Themevast_Cloudzoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cloudzoom_setup>
            <cloudzoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cloudzoom_write>
            <cloudzoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cloudzoom_read>
        </resources>
        <blocks>
            <cloudzoom>
                <class>Themevast_Cloudzoom_Block</class>
            </cloudzoom>
        </blocks>
        <helpers>
            <cloudzoom>
                <class>Themevast_Cloudzoom_Helper</class>
            </cloudzoom>
        </helpers>
    </global>
	<default>
		<cloudzoom>
			<general>
				<enabled>1</enabled>
				<zoom_w>407</zoom_w>
				<zoom_h>407</zoom_h>
				<zoom_border_w>4</zoom_border_w>
				<zoom_border_color>#cdcdcd</zoom_border_color>
				<lightbox_w>407</lightbox_w>
				<lightbox_h>407</lightbox_h>
				<thumbslider>1</thumbslider>
				 <mode>horizontal</mode>  <!-- horizontal, vertical -->
				<auto_scroll>0</auto_scroll>
				<scroll_style>horizontal</scroll_style>
				<thumbnail_qty>3</thumbnail_qty>
				<thumbnail_w>109</thumbnail_w>
				<thumbnail_h>109</thumbnail_h>
			</general>
		</cloudzoom>
	</default>
</config>

