<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Relatedslider>
            <version>0.1.0</version>
        </Themevast_Relatedslider>
    </modules>
    <frontend>
        <routers>
            <relatedslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Relatedslider</module>
                    <frontName>relatedslider</frontName>
                </args>
            </relatedslider>
        </routers>
        <layout>
            <updates>
                <relatedslider>
                    <file>themevast/relatedslider.xml</file>
                </relatedslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<relatedslider>
				<use>admin</use>
				<args>
					<module>Themevast_Relatedslider</module>
					<frontName>relatedslider</frontName>
				</args>
			</relatedslider>
        </routers>
    </admin>  
    <global>
        <blocks>
            <relatedslider>
                <class>Themevast_Relatedslider_Block</class>
            </relatedslider>
        </blocks>
        <helpers>
            <relatedslider>
                <class>Themevast_Relatedslider_Helper</class>
            </relatedslider>
        </helpers>
    </global>
	<default>
		<relatedslider>
			<general>
			    <enabled>1</enabled>
			    <title>Related Products</title>
			    <vertical>0</vertical>
			    <auto>0</auto>
			    <controls>1</controls>
			    <pager>0</pager>
			    <speed>600</speed>
			    <pause>3000</pause>
			    <maxSlides>1</maxSlides>
			    <rows>1</rows>
			    <slideWidth>270</slideWidth>
			    <price>1</price>
			    <cart>1</cart>
			    <review>1</review>
			    <qty>15</qty>
			    <widthImage>270</widthImage>
			    <heightImage>270</heightImage>
			</general>
		</relatedslider>
	</default>
</config>
