<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Saleproduct>
            <version>0.1.0</version>
        </Themevast_Saleproduct>
    </modules>
    <frontend>
        <routers>
            <saleproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Saleproduct</module>
                    <frontName>saleproduct</frontName>
                </args>
            </saleproduct>
        </routers>
        <layout>
            <updates>
                <saleproduct>
                    <file>themevast/saleproduct.xml</file>
                </saleproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<saleproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Saleproduct</module>
					<frontName>saleproduct</frontName>
				</args>
			</saleproduct>
        </routers>
    </admin>
    <global>
        <models>
            <saleproduct>
                <class>Themevast_Saleproduct_Model</class>
                <resourceModel>saleproduct_mysql4</resourceModel>
            </saleproduct>
            <saleproduct_mysql4>
                <class>Themevast_Saleproduct_Model_Mysql4</class>
            </saleproduct_mysql4>
        </models>
        <resources>
            <saleproduct_setup>
                <setup>
                    <module>Themevast_Saleproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saleproduct_setup>
            <saleproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saleproduct_write>
            <saleproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saleproduct_read>
        </resources>
        <blocks>
            <saleproduct>
                <class>Themevast_Saleproduct_Block</class>
            </saleproduct>
        </blocks>
        <helpers>
            <saleproduct>
                <class>Themevast_Saleproduct_Helper</class>
            </saleproduct>
        </helpers>
    </global>
	<default>
		<saleproduct>
		    <general>
			<enabled>1</enabled>
			<title>Hot Sale</title>
			<playDelay>500</playDelay>
			<price>1</price>
			<cart>1</cart>
			<wishlist>1</wishlist>
			<compare>1</compare>
			<review>1</review>
			<qty>4</qty>
			<widthImage>270</widthImage>
			<heightImage>270</heightImage>
			</general>
		</saleproduct>
	</default>
</config>

