.themes-demo-wrap {
    background: #e5e5e5;
    border: 1px solid #f3f3f3;
    width: 260px;
    padding: 5px;
    position: fixed;
    top: 190px;
    left: -260px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    z-index: 99900;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    color: #555;
}
.themes-demo-wrap .themes-demo-option { position: relative; }
.themes-demo-wrap .themes-demo-title {
	border-bottom: 1px solid #ddd;
	padding: 8px 10px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
}
.themes-demo-wrap .control {
    float:right;
}
.themes-demo-wrap .control.active {
	display:;
}
.themes-demo-wrap .control {
    background: url(../images/bg-cpanel-head.png) repeat left center #666;
    width: 40px;
    height: 37px;
    margin-right: -40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 6px 5px 10px 0px #cdcdcd;
    position: absolute;
    top: 5px;
    right: 0;
}
.themes-demo-wrap .control a {
	display: block;
	font-size: 16px;
	text-align: center;
	line-height: 37px;
	color: #fff;
}
.themes-demo-wrap .control a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.themes-demo-wrap .cl-table {
    border: 1px solid #bcbcbc;
    background: #fff;
    padding: 5px 0;
    }

.cl-table .cl-tr .cl-td { border-bottom: 1px solid #f1f1f1;position: relative;}
.cl-table .cl-tr .cl-td.cl-td-layout6 { border: none;}
.cl-table .cl-tr .cl-td a { display: block; line-height: 35px;  padding: 0 15px; }
.cl-table .cl-tr .cl-td a:hover { background: #f5f5f5;}
.cl-table .cl-tr .cl-td span { width: 40px; height: 22px; position: absolute; top: 7px; right: 15px;}

.cl-table .cl-tr .cl-td-layout1 a { color: #96ac97;}
.cl-table .cl-tr .cl-td-layout3 a { color: #d15254;}
.cl-table .cl-tr .cl-td-layout2 a { color: #53a2b5;}

.cl-table .cl-tr .cl-td-layout1 span { background: #96ac97;}
.cl-table .cl-tr .cl-td-layout3 span { background: #d15254;}
.cl-table .cl-tr .cl-td-layout2 span { background: #53a2b5;}


