<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Newproduct>
            <version>0.1.0</version>
        </Themevast_Newproduct>
    </modules>
    <frontend>
        <routers>
            <newproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Newproduct</module>
                    <frontName>newproduct</frontName>
                </args>
            </newproduct>
        </routers>
        <layout>
            <updates>
                <newproduct>
                    <file>themevast/newproduct.xml</file>
                </newproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Newproduct</module>
					<frontName>newproduct</frontName>
				</args>
			</newproduct>
        </routers>
    </admin>
    <global>
        <models>
            <newproduct>
                <class>Themevast_Newproduct_Model</class>
                <resourceModel>newproduct_mysql4</resourceModel>
            </newproduct>
            <newproduct_mysql4>
                <class>Themevast_Newproduct_Model_Mysql4</class>
            </newproduct_mysql4>
        </models>
        <resources>
            <newproduct_setup>
                <setup>
                    <module>Themevast_Newproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproduct_setup>
            <newproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproduct_write>
            <newproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproduct_read>
        </resources>
        <blocks>
            <newproduct>
                <class>Themevast_Newproduct_Block</class>
            </newproduct>
        </blocks>
        <helpers>
            <newproduct>
                <class>Themevast_Newproduct_Helper</class>
            </newproduct>
        </helpers>
    </global>
	<default>
		<newproduct>
			<general>
			    <enabled>1</enabled>
			    <title>New Arrivals</title>
			    <playDelay>500</playDelay>
			    <price>1</price>
			    <cart>1</cart>
			    <wishlist>1</wishlist>
			    <compare>1</compare>
			    <review>1</review>
			    <qty>4</qty>
			    <widthImage>270</widthImage>
			    <heightImage>270</heightImage>
			</general>
		</newproduct>
	</default>
</config>

