<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Timer>
            <version>0.1.0</version>
        </Themevast_Timer>
    </modules>
    <frontend>
        <routers>
            <timer>
                <use>standard</use>
                <args>
                    <module>Themevast_Timer</module>
                    <frontName>timer</frontName>
                </args>
            </timer>
        </routers>
        <layout>
            <updates>
                <timer>
                    <file>themevast/timer.xml</file>
                </timer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<timer>
				<use>admin</use>
				<args>
					<module>Themevast_Timer</module>
					<frontName>timer</frontName>
				</args>
			</timer>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Themevast_Timer>
							<title>Timer Module</title>
							<sort_order>10</sort_order>
						</Themevast_Timer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<timer>
					<file>themevast/timer.xml</file>
				</timer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <timer>
                <class>Themevast_Timer_Model</class>
                <resourceModel>timer_mysql4</resourceModel>
            </timer>
        </models>
        <resources>
            <timer_setup>
                <setup>
                    <module>Themevast_Timer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </timer_setup>
            <timer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </timer_write>
            <timer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </timer_read>
        </resources>
        <blocks>
            <timer>
                <class>Themevast_Timer_Block</class>
            </timer>
        </blocks>
        <helpers>
            <timer>
                <class>Themevast_Timer_Helper</class>
            </timer>
        </helpers>
    </global>
    <default>
        <timer>
            <general>
                <enabled>1</enabled>
                <title>Timer</title>
                <title_color>AF38FF</title_color>
                <timer_color>D70FFF</timer_color>
                <caption>1</caption>
                <caption_color>fff</caption_color>
            </general>
        </timer>
    </default>
</config>
