<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Bestseller>
            <version>0.1.0</version>
        </Themevast_Bestseller>
    </modules>
    <frontend>
        <routers>
            <bestseller>
                <use>standard</use>
                <args>
                    <module>Themevast_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </bestseller>
        </routers>
        <layout>
            <updates>
                <bestseller>
                    <file>themevast/bestseller.xml</file>
                </bestseller>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestseller>
				<use>admin</use>
				<args>
					<module>Themevast_Bestseller</module>
					<frontName>bestseller</frontName>
				</args>
			</bestseller>
        </routers>
    </admin>
    <global>
        <models>
            <bestseller>
                <class>Themevast_Bestseller_Model</class>
                <resourceModel>bestseller_mysql4</resourceModel>
            </bestseller>
            <bestseller_mysql4>
                <class>Themevast_Bestseller_Model_Mysql4</class>
            </bestseller_mysql4>
        </models>
        <resources>
            <bestseller_setup>
                <setup>
                    <module>Themevast_Bestseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
        <blocks>
            <bestseller>
                <class>Themevast_Bestseller_Block</class>
            </bestseller>
        </blocks>
        <helpers>
            <bestseller>
                <class>Themevast_Bestseller_Helper</class>
            </bestseller>
        </helpers>
    </global>
	<default>
		<bestseller>
			<general>
			    <enabled>1</enabled>
			    <title>Bestseller</title>
			    <price>1</price>
			    <cart>1</cart>
			    <wishlist>1</wishlist>
			    <compare>1</compare>
			    <review>1</review>
			    <qty>4</qty>
			    <widthImage>270</widthImage>
			    <heightImage>270</heightImage>
			</general>
		</bestseller>
	</default>
</config>

