.testimonial-sidebar-content:before { background: url("../images/test1.jpg") no-repeat center transparent; }


.bx-title h2:after {border-color: #6a7c6a transparent transparent transparent;}

/*.vmegamenu-title h2 i{
    background: #219ed9;
}
*/

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,

.bx-title h2:before,
.bx-title h2,
#nav_megamenu .megamenu .level-top:before,
.vmegamenu-title h2,

.nav_vmegamenu .itemMenu a:hover:before,
.top-banner-static .banner4 label,
.connect a:hover,
.catfavicon li.item .cat-img:hover,
.read-btn:hover,
.service-box .icon-block,
.service-box .icon-block .fa,
.about-page .block-title h2:after,

.imageslider-container .flex-direction-nav a:hover,

.viewmore.btn-load:hover,
.nivo-controlNav a:hover,
.nivo-controlNav a.active,
.opc .allow .step-title .number,
.totals button.btn-checkout:hover span,
.product-shop p.email-friend a:hover,
.product-shop .add-to-links li a:hover,
#back-top,
.block-subscribe .actions button:hover,


.banner-col p.icon .fa,
.footer-information .f-col1 a.shop-now,

.product-tabs li:hover a,
.product-tabs li.active a,
.block-tags .block-content a:hover,
#popup-newsletter .block-content button.button:hover span span,
.nav_megamenu .itemMenu a.level2:hover:before,
.nav_megamenu .itemMenu a.level3:hover:before,
.nav_megamenu .itemMenu a.level4:hover:before {
    background: #96ac97;
}
.banner_content_home1 .banner2 h2 a:hover,
.banner_right_home1 .banner_right:hover .title-banner,
.testimonial-sidebar-content,
.connect a:hover,
.readmore a:hover,
.viewmore.btn-load:hover,
.nivo-controlNav a:hover,
.nivo-controlNav a.active,
.opc .allow .step-title .number,
.banner-home-content12 h2 a:hover,
.blog-content li.item .link-more a:hover,
.featuredproduct .bx-wrapper .bx-controls-direction a:hover{
    border-color: #96ac97;
}
.readmore a:hover,
.banner_content_home1 .banner2 h2 a:hover,
.footer address a:hover,
.products-list .button.button:hover span ,
.pager .pages .current, .pager .pages li:hover a,
.tweetprofilelink > a,
.banner_right_home1 h3 span,
.blog-content li.item .link-more a,
.blog-content li.item span.title,

.mobilemenu a:hover,
.header-toplinks .links li a:hover:before,
.nav_vmegamenu .itemSubMenu a.level2:hover,
.nav_vmegamenu .itemMenu a.level1.nochild:hover,
.nav_vmegamenu .itemMenu a.level2:hover:before,
.nav_vmegamenu .itemMenu a.level3:hover:before,
.nav_vmegamenu .itemMenu a.level4:hover:before,
.links-bottom li a:hover,
.banner-main:hover h2,
.banner-content-41 .des a:hover,
/*.product-options dt label.required em,*/
.products-list li.item .rating-links a:hover,
.product-view .product-shop .availability span,
.product-view .ratings .rating-links a:hover,
.blog-content li.item span.title:hover,
.product-name a:hover,
p.promo-panel-sale span,
.banner-home-content12 h2 a:hover,
.block-layered-nav dd li:hover,
.block-layered-nav dd li a:hover,
.breadcrumbs a:hover,
.block-layered-nav dt span,
.blog-content li.item p.author,
.nav_megamenu .itemSubMenu h4.level2:hover,
.nav_megamenu .itemSubMenu a.level2:hover,
.nav_megamenu .itemSubMenu h4.level3:hover,
.nav_megamenu .itemSubMenu a.level3:hover,
.nav_megamenu .itemMenu a.level1.nochild:hover,
.nav_megamenu .itemMenu h4.level1:hover,
.nav_megamenu .itemMenu a.level1:hover,
#megamenu_link .level-top a:hover,
.nav_megamenu div.megamenu.act .level-top a,
.nav_megamenu div.megamenu.active .level-top a,
.header-toplinks .links li a:hover,
.products-list li.item .add-to-links li a:hover,
.products-list .desc a:hover,
.nav_megamenu div.megamenu.active .level-top span.block-title,
p.testimonial-author,
.nav_vmegamenu div.megamenu.active .level-top span.block-title,
.nav_megamenu div.megamenu .level-top span.block-title:hover,
.nav_megamenu #megamenu_link ul li a.act,
.nav_vmegamenu div.megamenu.active .level-top a:before,
.nav_vmegamenu div.megamenu.active .level-top a,
.nav_vmegamenu .itemMenu h4.level1:hover,
.nav_vmegamenu .itemMenu a.level1:hover,
p.block-search-top a:hover,
a:hover,
.drop-lang .sub-lang li a:hover,
.drop-currency .sub-currency li a:hover,
.nav_vmegamenu div.megamenu .level-top a:hover:before,
.nav_megamenu #megamenu_link ul li a:hover{
    color: #96ac97;
}









.rating-box .rating { background-position: 0 100%;}


.regular-price,
.special-price .price{ color: #666; }





















